@import "common.scss";

.header {
    // overflow: visible;
    // display: flex;
    position: fixed;
    height: 56px;
    top: 0;/*基準を画面の左上に*/
    left: 0;
    margin-left:0 20px;
    /*以下装飾*/
    width: 95%;
    color:rgb(5, 5, 5);
    background-color: #e0e7e8;
}

.header-div {
        display: flex;
    ul {
        display: flex;
        list-style: none;
        height: 30px;
        margin: 16px;
        padding: 0px;
    }
    li {
        justify-content: flex-start;
        border-left: solid 1px rgb(229, 255, 0);
        font-size: 16px;
        margin: 0 5px;
        padding: 3px;
        background: wheatwheat;
        }
    li:last-child {
        border-right: solid 1px rgb(229, 255, 0);
        padding: 0 8 px;
    }

    .search {
        height: 17px;
    }

    .search-box {
        @include box;
    }

    .hidden_box {
        margin: 2em 0;/*前後の余白*/
        padding: 0;

        label {
            padding: 15px;
            font-weight: bold;
            cursor :pointer;
        }

        label:hover {
            background: #efefef;
        }

        input {
            display: none;
        }

        .hidden_show {
            height: 0;
            padding: 0;
            overflow: hidden;
            opacity: 0;
            transition: 0.8s;
        }

        input:checked ~ .hidden_show {
            padding: 10px 0;
            height: auto;
            opacity: 1;
        }
    }
}