.header {
    overflow: visible;
    display: flex;
    position: fixed;
    height: 56px;
    top: 0;/*基準を画面の左上に*/
    left: 0;
    margin: 0;/*余白が入らないように*/
    /*以下装飾*/
    width: 100%;
    
    color:rgb(5, 5, 5);
}

.header-div {
        ul {
            display: flex;
            list-style: none;
            margin: 16px;
            padding: 0px;
        }
        li {
            justify-content: flex-start;
            border-left: solid 1px #aaa;
            font-size: smaller;
            margin: 0 5px;
            padding: 3px;
            background: rgb(61, 253, 77);
        }
        li:last-child {
            border-right: solid 1px rgb(229, 255, 0);
            padding: 0 8 px;
        }

.search {
    height: 17px;
    background: rgb(61, 253, 77);
}

.accbox {
    padding: 0;
    label {
        display: block;
        // 装飾
        color :#000000;
        font-weight: bold;
        background: rgb(61, 253, 77);
        transition: all 0.5s;
    }
    input {
        display: none;/*チェックは隠す*/
    }

    .accshow {
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: 0.8s;
    }
    .cssacc:checked + .accshow {
        height: auto;
        padding: 5px;
        // background: rgb(255, 255, 255);透明にしたい
    }
    .accshow-div {
        display: block;
    }
}
}