

<% @user.bookstores.each do |book| %>
      <div class="posts-index-item">
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to book.title, "#" %>
          </div>
          <%= link_to book.author, "/show/#{book.id}" %>
        </div>
      </div>
<% end %>