<p>最近読まれた本</p>

<% @test.each_with_index do |book , index|%>
  <div>
    <%= book.title%>
  </div>
  <%# if index == 3 %>
    <%# break; %>
  <%# end%>
<% end%>

  <%= render partial: 'books/cards/cards' %>

  
