// @import "layouts/common.scss";

.card-poket {
    background-color: white;
    padding: 10px 40px 10px 0px;
}

.card {
    width: 100%;
    height: auto;
    padding: 30px 10px;
    margin: 10px;
    font-weight: bold;
}

.card-show {
    width: 100%;
    height: auto;
    padding: 30px 10px;
    margin: 10px;
    // border-radius: 5%;  角に丸みをつけるプロパティ
    font-weight: bold;
}

.card-img {
    display: inline-block;
    width: 100px;
    margin: 0px;
    padding: 0px;

}

.card-right {
    display: flex;
    .title {
        color: red;
        padding: 15px;
        margin: 15px;
    }
    .author {
        color: blue;
        padding: 15px;
        margin: 15px;
    }
}

.card-text {

    .story {
        background-color: #e0e7e8;
        padding: 5px;
        margin: 5px;
    }
    .impressions {
        background-color: #e0e7e8;
        padding: 5px;
        margin: 5px;
    }
}

.card-brock {
    display: block;
}

.card-textarea{
    display: block;
    padding: 10px;
    margin: 5px 18px 5px 5px;
    width: 90%;
}
.card-under {
    clear: both; //回避？
    :hover{
        color: yellow;
    }
}

.hart {
    color: red;
    float: left;
}